body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #d5e1f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}

.login .logo {
    width: 30px;
}

.login h1 {
    font-size: 36px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



