body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #d5e1f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}

.login .logo {
    width: 30px;
}

.login h1 {
    font-size: 36px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.login p {
    font-size: 14px;
    color: #665;
    margin-bottom: 20px;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login label {
    align-self: flex-start;
    margin-bottom: 5px;
    color: #333;
}







